@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

.about-container {
    font-family: 'B612 Mono', monospace;
    font-weight: 400;
    color: #FDB016;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {font-size: 1.6em;}

.tech-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tech-stack img {
    width: 300px;
}

