@import url('https://fonts.googleapis.com/css2?family=B612+Mono&display=swap');

body {
  background: linear-gradient(180deg, #464646, #222222);
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
}

.pipes {
  min-width: 1024px;
  width: 100%;
  position: fixed;
  top: -20px;
  z-index: 1;
}

.brewery {
  min-width: 1024px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.foot {
  font-family: 'B612 Mono', monospace;
  color: #FDB016;
  width: 35vw;
  margin: auto;
  position: absolute;
  left: 0; bottom: 20px; right: 0;
}



